################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vsprojects/vc14/Debug
*.user
*.sdf
*.suo
